{% extends "layout.html" %}

{% block body %}

<div id="login_form" class="">
<h2> Login to Steem </h2>
	{% if error %}
	<p class="error"><strong>Error:</strong> {{ error }}
	{% endif %}
	<article class="card">
		<header>
			<h2>Login</h2>
			<fieldset class="flex two">
				<label> <input id="username_input" type="username" placeholder="STEEM username"></label>
				<label><input id="postingkey_input" type="password" placeholder="Private Posting Key"></label>
			</fieldset>	
			<button id="login_button" class="success">Login</button>
			<!--<button class="dangerous">Cancel</button>-->
		</header>
	</article>

</div>

{% endblock %}
